/* Import Barceloneta styles */
@import "++theme++barceloneta/less/barceloneta.plone.less";

// Variables

// Background colors
@gray:        #6d6e71; // standard gray for nav and footer
@gray-light:  #e2e2e3; // light gray for colophon and titles
@black:       #000000; // black for current nav item
@cyan:        #48b7ae; // cyan for control elements
@cyan-light:  #7eccc6; // lighter shade of cyan

// Text colors
@white-text:  #ffffff; // plain white
@black-text:  #000000; // plain black
@cyan-text:   #48b7ae; // cyan
@gray-text:   #aeaeb0; // gray text

// Border colors
@gray-border: #b4b4b5; 
@cyan-border: #52a19b; // cyan

/* Hiding stuff */
#portal-footer #portal-siteactions,
#portal-breadcrumbs
{
	display: none;
}

/* Font */
body {
	font-family: 'Ek Mukta', sans-serif;
}

#portal-header {
	margin-top: 0;
	margin-bottom: 0;
}
#portal-logo img {
	width: 150px;
	height: auto;
}
@media (min-width: @plone-screen-lg-min)
{
	#portal-logo {
		position: absolute;
		z-index: 1;
	}
	#portal-header {
		min-height: 119px;
	}
}

/* Customize navbar */
#mainnavigation {
	text-transform: uppercase;
}
@media (min-width: @plone-screen-lg-min) 
{
	.plone-navbar-nav {
	    float: right;
	}
}
.plone-nav > li > a {
	padding-left: 24px;
	padding-right: 24px;
}
@plone-sitenav-bg: @gray;
@plone-sitenav-link-hover-bg: black;

/* Customize navbar text color */
.plone-nav > li > a {
  color: @white-text;
}

/* Search */
#contact-popejoy {
	float: right;
	text-transform: uppercase;
	color: @black-text;
	font-size: 12px;
	padding: 17px 8px;
}
#portal-searchbox {
	margin-top: 0;
	background-color: @cyan;
	padding: 8px 17px;
}
#portal-searchbox label {
	text-transform: uppercase;
	font-size: 12px;
	color: @white-text;
	margin-right: 10px;
}
#searchGadget_form .searchSection {
	display: none;
}
#searchGadget_form #searchGadget {
  background-color: @cyan-light;
  border: 1px solid @cyan-border;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
@media (min-width: @plone-screen-sm-min) {
	#portal-searchbox {
		width: 261px;
	}
	#portal-searchbox [type="text"] {
	    float: none;
	    width: 120px;
	    display: inline-block;
	}
}

/* Footer */
#portal-footer {
	font-size: 12px;
}
#portal-footer-wrapper {
	background-color: @gray;
	padding: 0;
	text-align: left;
}
#footer-background {
	background-color: @gray-light;
	color: @black-text;
}
#footer-background .section {
	float: left;
	margin-right: 40px;
	font-size: 12px;
	font-weight: normal;
	line-height: 23px;
}
#footer-background .section.mission {
	width: 125px;
}
#footer-background .section h3 {
	border-bottom: 1px solid @gray-border;
	font-weight: bold;
	text-transform: uppercase;
	padding-bottom: 4px;
	font-size: 12px;
}
#footer-background p {
	border-bottom-width: 0;
	padding-bottom: 0;
}
#footer-background .section ul {
	padding: 0;
	list-style: none;
}
#footer-background .section a {
	color: @black-text;
}
#footer-background #social-icons {
	padding-top: 20px;
}
#footer-background #newsletter-signup {
	padding-top: 28px;
	font-size: 12px;
}
#footer-background #newsletter-signup a {
	text-transform: uppercase;
	color: @cyan-text;
}
#colophon-background {
	color: @gray-text;
}
#colophon-background .colophonWrapper {
	padding: 20px 0;
}
#colophon-background #copyright {
	float: left;
}
#colophon-background #partners {
	text-align: right;
	text-transform: uppercase;
}