/* Import Barceloneta styles */
@import "++theme++barceloneta/less/barceloneta.plone.less";

// Variables

// Background colors
@gray:        #6d6e71; // standard gray for nav and footer
@gray-light:  #e2e2e3; // light gray for colophon and titles
@gray-nav:    #b6b6b8;
@black:       #000000; // black for current nav item
@cyan:        #48b7ae; // cyan for control elements
@cyan-light:  #7eccc6; // lighter shade of cyan
@cyan-calendar: #c8e9e6; // current day in calendar

// Text colors
@white-text:  #ffffff; // plain white
@black-text:  #000000; // plain black
@cyan-text:   #3d9a92; // cyan
@gray-text:   #aeaeb0; // gray
@red-text:    #cc3333;
@gray-dark-text:              #5f5f5f; // dark gray
@gray-darker-text:            #6d6e71; // darker gray
@gray-calendar-disabled-text: #999999;
@gray-disabled-text:          #cccccc;

// Border colors
@gray-border: #b4b4b5;
@gray-light-border: #cccccc;
@cyan-border: #52a19b; // cyan

/* Hiding stuff */
#portal-footer #portal-siteactions,
#portal-breadcrumbs,
.documentActions #document-action-sendto
{
	display: none;
}


/* Font */
body {
	font-family: 'Ek Mukta', sans-serif;
	color: @black-text;
	font-weight: 300;
	font-size: 16px;
	background-color: white;
}
.documentDescription {
	color: @black-text;
	border-bottom: 1px solid @gray-light-border;
	font-weight: 300;
	font-size: 19px;
	padding-bottom: 15px;
	margin-bottom: 25px;
}
h2, h3 {
	text-transform: uppercase;
	border-bottom: 1px solid @gray-light-border;
}
h2 {
	font-size: 20px;
	font-weight: 600;
}
h3 {
	font-size: 16px;
	font-weight: 600;
	margin-top: 40px;
	margin-bottom: 20px;
}
#content-core a {
	border-bottom-width: 0;
}
p {
	margin: 0 0 20px 0;
}
ul p {
	margin: 0;
}
ul {
	list-style-type: none;
	margin-bottom: 0;
	padding-left: 30px;
}
#content #content-core li {
	margin-bottom: 5px;
}
#content .pagination li,
#content ul.pagination li {
	background-image: none;
	padding-left: 0;
}
a,
.portlet .portletHeader > a,
.portlet .portletContent > ul > li a,
a:hover, 
a:focus
{
	color: @cyan-text;
}

/* inline image and caption */
.pullquote {
	clear: both;
	background-color: #e2e2e3;
	font-weight: 500;
	color: #6d6e71;
}

/* Header */
#portal-header {
	margin-top: 0;
	margin-bottom: 0;
}
#portal-logo img {
	width: 150px;
	height: auto;
	z-index: 2;
	position: absolute;
}

/* Customize navbar */
#mainnavigation-wrapper {
	overflow: hidden;
}
#mainnavigation {
	text-transform: uppercase;
	position: relative;
}
.plone-navbar {
	margin-bottom: 0;
	box-shadow: none;
	border: none;
}
.plone-nav > li > a {
	padding: 15px 19px;
	color: @white-text;
  font-weight: 600;
  font-size: 19px;
}
@plone-sitenav-bg: @gray;
@plone-sitenav-link-hover-bg: black;

/* Search */
#contact-popejoy {
	float: right;
	text-transform: uppercase;
	color: @black-text;
	font-size: 12px;
	font-weight: 700;
	padding: 17px 8px;
}
#portal-searchbox {
	margin-top: 0;
	background-color: @cyan;
	padding: 8px 17px;
	border-bottom: 1px solid #2f7771;
}
#portal-searchbox label {
	text-transform: uppercase;
	font-size: 12px;
	color: @white-text;
	margin-right: 10px;
	font-weight: 700;
}
#searchGadget_form .searchSection {
	display: none;
}
#searchGadget_form #searchGadget {
  background-color: @cyan-light;
  border: 1px solid @cyan-border;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  padding: 2px 6px;
	font-size: 14px;
	color: #000;
}
@media (min-width: @plone-screen-sm-min) {
	#portal-searchbox {
		width: 261px;
	}
	#portal-searchbox [type="text"] {
	    float: none;
	    width: 120px;
	    display: inline-block;
	}
}

#title-popejoy {
	background-color: @gray-light;
	margin-bottom: 20px;
}
#title-popejoy .documentFirstHeading {
	border-bottom-width: 0;
	margin-bottom: 0;
	margin-top: 30px;
	color: @gray-dark-text;
	font-size: 24px;
	font-weight: 600;
}
// TODO: This should be visible on mobile
main h1.documentFirstHeading {
	display: none;
}

/* Portlets */
.portlet {
	border-width: 0;
	box-shadow: none;
	border-radius: 0;
}
.portlet .portletContent {
	border-color: @gray-light-border;
}
.portlet .portletHeader {
	font-size: 20px;
	font-weight: 600;
	color: @black-text;
	background-color: transparent;
}

/* Calendar */
.portlet.portletCalendar .portletHeader {
	padding-bottom: 0;
	padding-left: 0;
	padding-right: 0;
}
.portlet.portletCalendar .portletHeader .calendarPrevious, 
.portlet.portletCalendar .portletHeader .calendarNext
{
	position: static;
}
.portlet.portletCalendar table {
	border-width: 0;
}
.portlet.portletCalendar table thead {
	border-color: @gray-light-border;
	background-color: transparent;
}
.portlet.portletCalendar table thead th {
	padding: 0;
	font-weight: 500;
	font-size: 16px;
	color: @gray-darker-text;
	height: auto;
}
.portlet.portletCalendar table thead th,
.portlet.portletCalendar table tbody td
{
	border-width: 0;
	background-color: transparent;
}
.portlet.portletCalendar table tr {
	line-height: 25px;
}
.portlet.portletCalendar table .cal_next_month, 
.portlet.portletCalendar table .cal_prev_month
{
	color: @gray-calendar-disabled-text;
}
@cal-cell-size: 27px;
.portlet.portletCalendar table td > * {
	border-radius: 0;
	/*width: @cal-cell-size;*/
	height: @cal-cell-size;
	line-height: @cal-cell-size;
}
.portlet.portletCalendar table .today > * {
	box-shadow: none;
	background-color: @cyan-calendar;
}
.portlet.portletCalendar table tbody tr:first-child td > * {
	margin-top: 0;
}

/* Navigation Portlet */
.navTreeItem {
	font-weight: 700;
	line-height: 1.0em;
	text-align: center;
}
.portletNavigationTree .portletContent .navTreeTopNode {
	display: none;
}
.portletNavigationTree nav.portletContent > ul > li a {
	border-top-width: 10px;
	border-top-color: white;
}
.portletNavigationTree .portletContent > ul > li > a {
	background-color: @gray-nav;
	color: @white-text;
	text-transform: uppercase;
}
.portletNavigationTree .portletContent .navTreeCurrentNode > a {
	color: @white-text;
	background-color: @black;
}
.portletNavigationTree .portletContent .navTreeCurrentNode > a:after,
.portletNavigationTree .portletContent > ul > li > a:hover:after 
{
	content: none;
}
.portletNavigationTree .portletContent > ul > li > a:hover {
	background-color: @black;
	text-decoration: none;
}

/* Calendar */
.template-event_listing .vevent div.cal_info {
	margin-top: 20px;
}
.template-event_listing .vevent div.cal_date {
	width: 120px;
	margin-top: 3px;
}
.template-event_listing h2.tileHeadline {
	text-transform: none;
	border-bottom-width: 0;
	margin-top: 0;
	margin-bottom: 0;
}
.template-event_listing .time {
	color: black;
}
.template-event_listing .popejoyPresents {
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 600;
	color: @cyan-text;
}

/* Footer */
#portal-footer {
	font-size: 13px;
}
#portal-footer-wrapper {
	background-color: @gray;
	padding: 0;
	text-align: left;
}
#footer-background {
	background-color: @gray-light;
	color: @black-text;
}
#footer-background .section {
	float: left;
	margin-right: 40px;
	font-size: 13px;
	font-weight: 400;
	line-height: 23px;
}
#footer-background .section.mission {
	width: 125px;
	font-weight: 200;
}
#footer-background .section.mission h3 {
	margin-bottom: 9px;
}
#footer-background .section h3 {
	border-bottom: 1px solid @gray-border;
	font-weight: 600;
	text-transform: uppercase;
	padding-bottom: 4px;
	font-size: 14px;
	margin-top: 20px;
	margin-bottom: 10px;
}
#footer-background p {
	border-bottom-width: 0;
	padding-bottom: 0;
}
#footer-background .section ul {
	padding: 0;
	list-style: none;
	margin-bottom: 20px;
}
#footer-background .section ul li {
	padding-bottom: 4px;
}
#footer-background .section a {
	color: @black-text;
}
#footer-background #social-icons {
	padding-top: 20px;
}
#footer-background #newsletter-signup {
	padding-top: 28px;
	font-size: 13px;
	font-weight: 200;
}
#footer-background #newsletter-signup a {
	text-transform: uppercase;
	color: @cyan-text;
	font-size: 14px;
	font-weight: 600;
}
#colophon-background {
	color: @gray-text;
}
#colophon-background .colophonWrapper {
	padding: 30px 0;
}
#colophon-background #copyright {
	float: left;
	font-weight: 300;
	color: #b9b9bb;
}
#colophon-background #partners {
	text-align: right;
	text-transform: uppercase;
	font-weight: 600;
}
#colophon-background #broadway-logo-colophon {

}
#colophon-background #unm-logo-colophon,
#colophon-background #broadway-logo-colophon
{
	display: block;
	float: left;
	background-position: center;
	background-repeat: no-repeat;
	height: 80px;
	width: 50%;
	background-size: contain;
}
#colophon-background #broadway-logo-colophon {
	background-image: url(broadway_nm.png);
	background-size: 100%;
	width: 50%;
	background-position: left center;
}
#colophon-background #unm-logo-colophon {
	background-image: url(unm_logo.png);
	background-size: 112%;
	background-position: lefft center;
}

/* Homepage */
.template-homepage_view #title-popejoy {
	display: none;
}
.template-homepage_view #slideshow-popejoy {
	margin-bottom: 20px;
}
.template-homepage_view #content {
	margin-top: 10px;
}
#myGallery, #myGallerySet, #flickrGallery {
  z-index: 1 !important;
}
#homepage-slideshow-js-component,
#myGallery
{
	width: 100%;
	height: 343px;
	background-color: black;
	overflow: hidden;
}
.jdGallery .slideElement {
	background-size: contain;
}
.template-homepage_view .performance h3 {
	text-transform: none;
	border-bottom-width: 0;
	margin-bottom: 0;
	margin-top: 15px;
	font-size: 20px;
	font-weight: 600;
}
.template-homepage_view .performance h3 a {
	color: @black-text;
}
.template-homepage_view .performance h3 a:focus,
.template-homepage_view .performance h3 a:hover
{
	border-bottom-width: 0;
}
.template-homepage_view .performance .tileFooter a {
	text-transform: uppercase;
	color: @white-text;
	background-color: @cyan;
	padding: 0px 10px;
	font-weight: 500;
	display: inline-block;
	line-height: 25px;
}
.template-homepage_view .performance {
	float: left;
	overflow: hidden;
}
.template-homepage_view .performance img {
	width: 100%;
	height: auto;
}
.template-homepage_view .performance:last-child {
	margin-right: 0;
}
.template-homepage_view #homepage-this-season {
	border-top: 1px solid @gray-light-border;
}
.template-homepage_view #view-full-season {
	float: right;
	text-transform: uppercase;
	font-weight: 500;
}
.template-homepage_view #upcoming-shows-header {
	border-bottom-width: 0;
	margin-top: 5px;
	margin-bottom: 20px;
}
.template-homepage_view .portletStaticText h1,
.template-homepage_view .portletStaticText ul
{
	display: none;
}
.template-homepage_view .portletStaticText p {
	margin-bottom: 10px;
}
.template-homepage_view .portletStaticText a {
	display: block;
	background-color: @cyan;
	color: @white-text;
	font-size: 16px;
	font-weight: 500;
	padding: 5px 10px;
	line-height: 25px;
}

/* Season */
.template-season_view .currentSeasonTitle {
	clear: left;
}
.template-season_view .tileItem {
	float: left;
	overflow: hidden;
}
.template-season_view .showListing .tileItem:nth-child(4n) {
	margin-right: 0;
}
.template-season_view .showListing .tileItem:nth-child(4n+1) {
	clear: left;
}
.template-season_view .tileItem h2 {
	text-transform: none;
	border-bottom-width: 0;
	margin-bottom: 0;
	margin-top: 15px;
}
.template-season_view .tileItem h2 a {
	color: @black-text;
}
.template-season_view .tileItem h2 a:focus,
.template-season_view .tileItem h2 a:hover
{
	border-bottom-width: 0;
}
.template-season_view .tileItem p {
	margin-bottom: 10px;
}
.template-season_view .tileItem img {
	width: 100%;
	height: auto;
}
.template-season_view #past-shows {
	clear: left;
}
.template-season_view h1.currentSeasonTitle,
.template-season_view #past-season h1,
.template-season_view #past-shows h1
{
	text-transform: uppercase;
	font-size: 20px;
	font-weight: 600;
	padding-top: 10px;
	border-top: 1px solid @gray-light-border;
}
.template-season_view .tileFooter a {
	text-transform: uppercase;
	color: @white-text;
	background-color: @cyan;
	padding: 0px 10px;
	font-weight: 500;
}

/* Shows */
.template-performance_view .eventDetails {
	display: none;
}
.template-performance_view .documentDescription,
.template-show_view .documentDescription
{
	display: none;
}
.headerWideImage {
	padding-bottom: 20px;
	width: 100%;
	height: auto;
}
.starburstWrapper {
	float: right;
	padding-left: 20px;
	background-color: white;
}
.performance-dates-wrapper {
	float: left;
	margin-right: 40px;
	min-width: 210px;
}
.performance-dates-wrapper ul {
	padding-left: 20px;
}
.leftClear {
	display: block;
	clear: left;
}
.visualClear {
	display: block;
	clear: both;
}
.performanceStart.soldOutDate {
	text-decoration: line-through;
	color: @gray-disabled-text;
}
.performance-dates-wrapper .soldOut,
.vevent .soldOutPerformance
{
	color: @red-text;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 500;
}
.vevent .soldOutPerformance {
	font-size: 20px;
}

/* Now Playing */
.template-nowplaying_view .documentDescription {
	display: none;
}

/* Events */
.template-event_view .eventDetails {
	float: right;
	max-width: 300px;
}
.template-event_view .eventDetails table {
	border-width: 0;
}
.template-event_view .eventDetails th {
	color: @gray-darker-text;
	background-color: white !important;
	border-left-width: 0;
	border-right-width: 0;
}
.template-event_view .eventDetails td {
	color: @black-text;
	background-color: white !important;
	border-left-width: 0;
	border-right-width: 0;
}
.template-event_view .eventDetails abbr {
	cursor: pointer;
	border-bottom-width: 0;
}


/* No Toolbar Breakpoints */
@media (min-width: @plone-screen-sm-min) {
	#portal-logo img {
		width: 120px;
	}
	#portal-header {
		margin-right: -20px;
		max-height: 148px;
		min-height: 148px;
	}
	#portal-searchbox {
		margin-right: 0;
		margin-left: 10px;
		padding: 8px 15px;
		width: 210px;
	}
	#portal-searchbox label {
		font-size: 14px;
		margin-right: 4px;
		margin-bottom: 0;
	}
	#searchGadget_form #searchGadget {
		margin-left: -64px;
		height: 28px;
		width: 132px;
	}
	#contact-popejoy {
		font-size: 14px;
		padding: 12px 0;
	}
	/* primary nav */
	#mainnavigation-wrapper {
		margin-top: -54px;
	}
	.plone-navbar {
		max-height: 40px;
		min-height: 40px;
		background-color: #6d6e71;
	}
	.plone-navbar-header {
		padding: 0;
	}
	.plone-navbar .container {
		padding: 0 15px 0 15px;
	}
	.plone-navbar-nav {
		float: right;
	}
	.plone-nav > li > a {
		padding: 11px 10px 0 10px;
		font-size: 15px;
		height: 40px;
	}
	/* page content */
	#title-popejoy {
		height: 66px;
	}
	#title-popejoy .documentFirstHeading {
		margin-top: 34px;
		font-size: 24px;
	}
	.documentDescription {
		padding-top: 12px;
		padding-bottom: 20px;
		font-size: 20px;
		line-height: 24px;
	}
	/*#content {
		padding-right: 20px;
	}*/
	#content #content-core li {
		padding-left: 16px;
		background-image: url(bullet.gif);
		background-repeat: no-repeat;
		background-position: 0 7px;
	}
	#content-core p {
		font-size: 16px;
		line-height: 22px;
	}
	h3 {
		font-size: 20px;
	}
	/* inline image and caption */
	.pullquote {
		float: right;
		margin: 0 0 20px 24px;
		padding: 0 10px 12px 15px;
		width: 200px;
		font-size: 13px;
		line-height: 16px;
	}
	.pullquote p {
		margin: 0 -10px 10px -15px;
	}
	.pullquote p img.image-inline {
		float: none;
		margin: 0;
		width: 200px;
	}
	/* sidebar portlets */
	.navTreeItem {
		font-size: 14px;
	}
	/* footer content */
	#footer-background .section {
		width: 140px;
		margin-left: 0;
		margin-right: 15px;
		font-size: 14px;
		line-height: 18px;
		}
	#footer-background .section.mission {
		width: 450px;
		margin-right: 0;
		margin-left: 0;
		font-size: 16px;
		line-height: 21px;
	}
	#footer-background #social-icons img {
		width: 24px;
	}
	#footer-background #newsletter-signup {
		width: 205px;
		font-size: 14px;
		line-height: 18px;
	}
	/* Homepage */
	#homepage-slideshow-js-component,
	#myGallery
	{
		height: 217px;
	}
	.template-homepage_view .performance {
		margin-right: 16px;
		width: 121px;
	}
	.template-homepage_view .performance .tileFooter a,
	.template-homepage_view .portletStaticText a
	{
		font-size: 10px;
	}
	/* Season */
	.template-season_view .tileItem {
		width: 121px;
		margin-right: 16px;
	}
	.template-season_view .tileItem .tileFooter a {
		font-size: 11px;
	}
}
@media (min-width: @plone-screen-md-min) {
	#portal-logo img {
		width: 140px;
	}
	#portal-header {
		max-height: 172px;
		min-height: 172px;
	}
	#portal-searchbox {
		margin-left: 10px;
		padding: 8px 10px;
		width: 240px;
	}
	#portal-searchbox label {
		font-size: 14px;
		margin-right: 4px;
		margin-bottom: 0;
	}
	#searchGadget_form #searchGadget {	
		width: 100px;
		height: 25px;
		margin-left: 0;
	}
	#contact-popejoy {
		font-size: 14px;
		padding: 11px 0;
	}
	/* primary nav */
	#mainnavigation-wrapper {
		margin-top: -60px;
	}
	.plone-navbar {
		min-height: 45px;
		max-height: 45px;
		background-color: #6d6e71;
	}
	.plone-navbar-header {
		padding: 0;
	}
	.plone-navbar .container {
		padding: 0 15px 0 15px;
	}
	.plone-navbar-nav {
		float: right;
	}
	.plone-nav > li > a {
		padding: 13px 18px 0 18px;
		font-size: 18px;
		height: 45px;
	}
	/* page content */
	#title-popejoy {
		height: 74px;
	}
	#title-popejoy .documentFirstHeading {
		margin-top: 36px;
		font-size: 27px;
	}
	.documentDescription {
		padding-top: 12px;
		padding-bottom: 20px;
		font-size: 22px;
		line-height: 26px;
	}
	/*#content {
		padding-right: 30px;
	}*/
	#content #content-core li {
		padding-left: 16px;
		background-image: url(bullet.gif);
		background-repeat: no-repeat;
		background-position: 0 7px;
	}
	#content-core p {
		font-size: 17px;
		line-height: 24px;
	}
	h3 {
		font-size: 20px;
	}
	/* inline image and caption */
	.pullquote {
		float: right;
		margin: 0 0 20px 24px;
		padding: 0 10px 12px 15px;
		width: 280px;
		font-size: 13px;
		line-height: 16px;
	}
	.pullquote p {
		margin: 0 -10px 10px -15px;
	}
	.pullquote p img.image-inline {
		float: none;
		margin: 0;
		width: 280px;
	}
	/* sidebar portlets */
	.navTreeItem {
		font-size: 16px;
	}
	/* footer content */
	#footer-background .section {
		width: 127px;
		margin-left: 20px;
		margin-right: 0;
		font-size: 14px;
		line-height: 18px;
		}
	#footer-background .section.mission {
		width: 154px;
		margin-right: 15px;
		margin-left: 0;
		font-size: 16px;
		line-height: 21px;
	}
	#footer-background #social-icons img {
		width: 28px;
		}
	#footer-background #newsletter-signup {
		width: 240px;
		font-size: 14px;
		line-height: 18px;
	}
	/* Homepage */
	#homepage-slideshow-js-component,
	#myGallery
	{
		height: 283px;
	}
	.template-homepage_view .performance {
		margin-right: 20px;
		width: 159px;
	}
	.template-homepage_view .performance .tileFooter a,
	.template-homepage_view .portletStaticText a
	{
		font-size: 14px;
	}
	/* Season */
	.template-season_view .tileItem {
		width: 159px;
		margin-right: 20px;
	}
	.template-season_view .tileItem .tileFooter a {
		font-size: 14px;
	}
}
@media (min-width: @plone-screen-lg-min) {
	#portal-logo img {
		width: 166px;
	}
	#portal-header {
		max-height: 204px;
		min-height: 204px;
	}
	#portal-searchbox {
		margin-left: 10px;
		padding: 12px 15px;
		width: 265px;
	}
	#portal-searchbox label {
		font-size: 14px;
		margin-right: 4px;
		margin-bottom: 0;
	}
	#searchGadget_form #searchGadget {	
		width: 120px;
		height: 25px;
		margin-left: 0;
	}
	#contact-popejoy {
		font-size: 14px;
		padding: 15px 0;
	}
	/* primary nav */
	#mainnavigation-wrapper {
		margin-top: -74px;
	}
	.plone-navbar {
		max-height: 55px;
		min-height: 55px;
		background-color: #6d6e71;
	}
	.plone-navbar-header {
		padding: 0;
	}
	.plone-navbar .container {
		padding: 0 15px 0 15px;
	}
	.plone-navbar-nav {
		float: right;
	}
	.plone-nav > li > a {
		padding: 18px 24px 0 24px;
		font-size: 22px;
		height: 55px;
	}
	/* page content */
	#title-popejoy {
		height: 74px;
	}
	#title-popejoy .documentFirstHeading {
		margin-top: 36px;
		font-size: 27px;
	}
	.documentDescription {
		padding-top: 12px;
		padding-bottom: 20px;
		font-size: 22px;
		line-height: 26px;
	}
	/*	#content {
		padding-right: 54px;
	}*/
	#content #content-core li {
		padding-left: 16px;
		background-image: url(bullet.gif);
		background-repeat: no-repeat;
		background-position: 0 7px;
	}
	#content-core p {
		font-size: 17px;
		line-height: 24px;
	}
	h3 {
		font-size: 20px;
	}
	/* inline image and caption */
	.pullquote {
		float: right;
		margin: 0 0 20px 24px;
		padding: 0 10px 12px 15px;
		width: 350px;
		font-size: 13px;
		line-height: 16px;
	}
	.pullquote p {
		margin: 0 -10px 10px -15px;
	}
	.pullquote p img.image-inline {
		float: none;
		margin: 0;
		width: 350px;
	}
	/* sidebar portlets */
	.navTreeItem {
		font-size: 16px;
	}
	/* footer content */
	#footer-background .section {
		width: 180px;
		margin-left: 22px;
		margin-right: 0;
		font-size: 14px;
		line-height: 18px;
		}
	#footer-background .section.mission {
		width: 150px;
		margin-right: 15px;
		margin-left: 0;
		font-size: 16px;
		line-height: 21px;
	}
	#footer-background #social-icons img {
		width: 32px;
		}
	#footer-background #newsletter-signup {
		width: 285px;
		font-size: 14px;
		line-height: 18px;
	}
	/* Homepage */
	#homepage-slideshow-js-component,
	#myGallery
	{
		height: 343px;
	}
	.template-homepage_view .performance {
		margin-right: 25px;
		width: 193px;
	}
	.template-homepage_view .performance .tileFooter a,
	.template-homepage_view .portletStaticText a
	{
		font-size: 16px;
	}
	/* Season */
	.template-season_view .tileItem {
		width: 193px;
		margin-right: 25px;
	}
	.template-season_view .tileItem .tileFooter a {
		font-size: 16px;
	}
}

/* Small with Toolbar Breakpoints */
@media (min-width: @plone-screen-sm-min) {
	.plone-toolbar-top-default #homepage-slideshow-js-component,
	.plone-toolbar-top-default #myGallery
	{
		height: 217px;
	}
}
@media (min-width: (@plone-screen-sm-min + @plone-left-toolbar)) {
	.plone-toolbar-left-default #homepage-slideshow-js-component,
	.plone-toolbar-left-default #myGallery
	{
		height: 217px;
	}
}
@media (min-width: (@plone-screen-sm-min + @plone-left-toolbar-expanded)) {
	.plone-toolbar-left-expanded #homepage-slideshow-js-component,
	.plone-toolbar-left-expanded #myGallery
	{
		height: 217px;
	}
}

/* Medium with Toolbar Breakpoints */
@media (min-width: @plone-screen-md-min) {
	.plone-toolbar-top-default #homepage-slideshow-js-component,
	.plone-toolbar-top-default #myGallery
	{
		height: 283px;
	}
}
@media (min-width: (@plone-screen-md-min + @plone-left-toolbar)) {
	.plone-toolbar-left-default #homepage-slideshow-js-component,
	.plone-toolbar-left-default #myGallery
	{
		height: 283px;
	}
}
@media (min-width: (@plone-screen-md-min + @plone-left-toolbar-expanded)) {
	.plone-toolbar-left-expanded #homepage-slideshow-js-component,
	.plone-toolbar-left-expanded #myGallery
	{
		height: 283px;
	}
}

/* Large with Toolbar Breakpoints */
@media (min-width: @plone-screen-lg-min) {
	.plone-toolbar-top-default #homepage-slideshow-js-component,
	.plone-toolbar-top-default #myGallery
	{
		height: 343px;
	}
}
@media (min-width: (@plone-screen-lg-min + @plone-left-toolbar)) {
	.plone-toolbar-left-default #homepage-slideshow-js-component,
	.plone-toolbar-left-default #myGallery
	{
		height: 343px;
	}
}
@media (min-width: (@plone-screen-lg-min + @plone-left-toolbar-expanded)) {
	.plone-toolbar-left-expanded #homepage-slideshow-js-component,
	.plone-toolbar-left-expanded #myGallery
	{
		height: 343px;
	}
}

/* Mobile */
@media (max-width: 767px) {
	#portal-logo img, 
	#portal-searchbox, 
	#contact-popejoy,
	#slideshow-popejoy,
	#homepage-body-text
	{
		display: none;
	}
	#portal-logo {
		display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 223px;
    height: 76px;
    float: none;
    z-index: 1;
	}
	/* primary nav */
	#mainnavigation-wrapper {
		margin-top: -54px;
		margin-bottom: 11px;
	}
	.plone-navbar {
		max-height: none;
		min-height: initial;
		background-color: transparent;
	}
	.plone-navbar-header {
		padding: 0 15px 0 15px;
	}
	.plone-navbar .container {
		padding: 0;
	}
	.plone-navbar-nav {
		float: none;
		margin-top: 10px;
		text-align: center;
	}
	.plone-nav > li > a {
		padding: 13px 10px 0 10px;
		font-size: 18px;
		height: 50px;
		background-color: #6d6e71;
		border-bottom: 3px solid #fff;
	}
	.plone-navbar-toggle {
		font-size: 18px;
		text-shadow: none;
		background-color: transparent;
		border: none;
		border-radius: 0;
		margin-bottom: 0;
		margin-right: 0px;
		padding-right: 40px;
		background-image: url(menu.png);
		background-repeat: no-repeat;
		background-position: right 10px center;
		text-transform: uppercase;
		font-weight: 400;
	}
	/* structural */
	.container, #edit-zone.plone-toolbar-top .plone-toolbar-container,
	.plone-modal .plone-modal-content, .plone-toolbar-top-default .container,
	.plone-toolbar-left-default .container {
		width: auto;
	}
	.col-xs-6 {
		width: 100%;
	}
	iframe {
		width: 100%;
	}
	.row {
		margin: 0;
	}
	
	/* page content */
	#title-popejoy {
		height: auto;
	}
	#title-popejoy .documentFirstHeading {
		margin-top: 34px;
		margin-left: 15px;
		text-align: center;
	}
	.documentDescription {
		padding-top: 12px;
		padding-bottom: 14px;
		font-size: 20px;
		line-height: 24px;
	}
	#content #content-core li {
		padding-left: 16px;
		background-image: url(bullet.gif);
		background-repeat: no-repeat;
		background-position: 0 7px;
	}
	#content-core p {
		font-size: 17px;
		line-height: 23px;
	}
	#content-header .container {
		padding: 0;
		background-color: #48b8af;
		background-image: url(popejoy_mobile_logo.png);
		background-repeat: no-repeat;
		height: 79px;
		border-bottom: 3px solid #fff;
	}
	button {
		background-color: transparent;
		box-shadow: none;
		text-shadow: none;
		border: none;
		}
	
	/* inline image and caption */
	.pullquote {
		float: none;
		margin: 0 0 20px 0;
		padding: 0 10px 12px 15px;
		width: 100%;
		max-width: 325px;
		font-size: 13px;
		line-height: 16px;
	}
	.pullquote p {
		margin: 0 -10px 10px -15px;
	}
	.pullquote p img.image-inline {
		float: none;
		margin: 0;
		width: 100%;
		max-width: 350px;
	}
	
	/* sidebar portlets */
	.portletNavigationTree, .portletCalendar {
		width: 100%;
		/*max-width: 450px;*/
		/*padding-left: 15px;*/
	}
	.portletCalendar .portletContent {
		background-color: transparent;
		border-color: #48b7ae;
	}
	.portletNavigationTree, .portletCalendar table {
		background-color: transparent;
	}
	.portlet.portletCalendar table .today > * {
		background-color: #b4d5d3;
	}
	.portlet.portletCalendar table thead {
		border-color: #95ccc8;
	}
	
	/* footer content */
	#footer-background .section {
		display: none;
	}
	#footer-background .section.mission {
		display: block;
		width: auto;
		float: none;
		margin: 20px -30px;
		padding: 20px 35px 20px 35px;
		font-size: 18px;
		line-height: 22px;
		background-color: white;
	}
	#footer-background .section h3 {
		font-size: 16px;
		border-bottom-width: 0;
		margin-top: 0;
	}
	#footer-background p {
		margin-bottom: 0;
	}
	#footer-background #social-icons {
		padding: 0 20px 0 13px;
		text-align: center;
	}
	#footer-background #social-icons img {
		width: 32px;
	}
	#footer-background #newsletter-signup {
		padding: 20px 20px 20px 15px;
		font-size: 16px;
		line-height: 20px;
		text-align: center;
	}
	#colophon-background #copyright {
		padding-left: 15px;
		display: none;
	}
	#colophon-background #partners {
		text-align: center;
	}
	#colophon-background #unm-logo-colophon, 
	#colophon-background #broadway-logo-colophon
	{
		width: 50%;
		background-size: contain !important;
		background-position: center;
	}
	/* Homepage */
	.template-homepage_view .performance {
		float: none;
		text-align: center;
		margin-bottom: 30px;
		background-color: white;
		padding-bottom: 20px;
	}
	.template-homepage_view .performance .tileFooter a {
		padding: 5px 25px;
	}
	.template-homepage_view #view-full-season {
		display: none;
	}
	.template-homepage_view #upcoming-shows-header,
	.template-homepage_view .portletStaticText h1
	{
		background-color: #929295;
		color: @white-text;
		border-width: 0;
		text-align: center;
		padding: 10px;
		margin: 0px -30px 25px -30px;
		font-size: 20px;
		text-transform: uppercase;
		font-weight: 600;
	}
	.template-homepage_view .portletStaticText h1 {
		/*margin: 0px -15px 25px -15px;*/
	}
	.template-homepage_view #homepage-this-season {
		border-width: 0;
	}
	.template-homepage_view #content {
		margin-top: 0;
	}
	.template-homepage_view .portletStaticText h1,
	.template-homepage_view .portletStaticText ul
	{
		display: block;
	}
	.template-homepage_view .portletStaticText ul {
		margin-bottom: 20px;
		padding-left: 20px;
	}
	.template-homepage_view .portletStaticText li {
		padding-left: 8px;
		background-image: url(bullet.gif);
		background-repeat: no-repeat;
		background-position: 0 14px;
	}
	.template-homepage_view .portletStaticText ul a {
		background-color: transparent;
		color: black;
	}
	.template-homepage_view #portal-column-two {
		margin: 0px 15px;
	}
	/* Season */
	.template-season_view .showListing .tileItem {
		float: none;
		text-align: center;
		margin-bottom: 30px;
		background-color: white;
		padding-bottom: 10px;
	}
	.template-season_view h1.currentSeasonTitle, 
	.template-season_view #past-season h1, 
	.template-season_view #past-shows h1
	{
		background-color: #929295;
		color: @white-text;
		border-width: 0;
		text-align: center;
		padding: 10px;
		margin: 3px -45px 25px -45px;
	}
	.template-season_view #title-popejoy {
		margin-bottom: 0;
	}
	.template-season_view #main-container,
	.template-homepage_view #main-container
	{
		background-color: @gray-light;
		margin-left: -15px;
		margin-right: -15px;
	}
	.template-season_view .tileItem h2,
	.template-season_view .tileItem p
	{
		margin-left: 20px;
		margin-right: 20px;
	}
}
